In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 5.5 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"taxTables/2022.xlsx")

In [4]:
df

   income   rate  tax payable
0   18200  0.000            0
1   18201  0.190            0
2   45001  0.325         5092
3  120001  0.370        29467
4  180001  0.450        51667

In [ ]:
income = 54000