In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 5.5 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [7]:
import pandas as pd

In [13]:
df = pd.read_excel(r"taxTables/2023.xlsx", sheet_name="STSL Statement of Formula - CSV")

In [14]:
df

,Tax Scale,Weekly Earnings Less Than,Component A Factor,Component B Factor
0,1.0,88.0,0.1900,0.1900
1,1.0,371.0,0.2348,3.9639
2,1.0,515.0,0.2190,-1.9003
3,1.0,641.0,0.3477,64.4297
4,1.0,794.0,0.3577,64.4297
...,...,...,...,...
124,6.0,2587.0,0.4650,286.5965
125,6.0,2743.0,0.4700,286.5965
126,6.0,2907.0,0.4750,286.5965
127,6.0,3461.0,0.4800,286.5965
128,6.0,999999.0,0.5600,563.5196

In [15]:
grouped = df.groupby("Tax Scale")
grouped

In [17]:
need = grouped.get_group(1)

In [18]:
need

,Tax Scale,Weekly Earnings Less Than,Component A Factor,Component B Factor
0,1.0,88.0,0.1900,0.1900
1,1.0,371.0,0.2348,3.9639
2,1.0,515.0,0.2190,-1.9003
3,1.0,641.0,0.3477,64.4297
4,1.0,794.0,0.3577,64.4297
5,1.0,863.0,0.3677,64.4297
6,1.0,932.0,0.3727,64.4297
7,1.0,936.0,0.3700,61.9132
8,1.0,1013.0,0.3750,61.9132
9,1.0,1095.0,0.3800,61.9132
10,1.0,1181.0,0.3850,61.9132
11,1.0,1273.0,0.3900,61.9132
12,1.0,1371.0,0.3950,61.9132
13,1.0,1474.0,0.4000,61.9132
14,1.0,1583.0,0.4050,61.9132
15,1.0,1699.0,0.4100,61.9132
16,1.0,1822.0,0.4150,61.9132
17,1.0,1953.0,0.4200,61.9132
18,1.0,1957.0,0.4250,61.9132
19,1.0,2091.0,0.4700,150.0093
20,1.0,2237.0,0.4750,150.0093
21,1.0,2393.0,0.4800,150.0093
22,1.0,2557.0,0.4850,150.0093
23,1.0,3111.0,0.4900,150.0093
24,1.0,999999.0,0.5700,398.9324