In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 5.5 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [7]:
import pandas as pd

In [13]:
df = pd.read_excel(r"taxTables/2023.xlsx", sheet_name="STSL Statement of Formula - CSV")

In [14]:
df

,Tax Scale,Weekly Earnings Less Than,Component A Factor,Component B Factor
0,1.0,88.0,0.1900,0.1900
1,1.0,371.0,0.2348,3.9639
2,1.0,515.0,0.2190,-1.9003
3,1.0,641.0,0.3477,64.4297
4,1.0,794.0,0.3577,64.4297
...,...,...,...,...
124,6.0,2587.0,0.4650,286.5965
125,6.0,2743.0,0.4700,286.5965
126,6.0,2907.0,0.4750,286.5965
127,6.0,3461.0,0.4800,286.5965
128,6.0,999999.0,0.5600,563.5196

In [15]:
grouped = df.groupby("Tax Scale")
grouped

In [41]:
need = grouped.get_group(2)

In [42]:
need

,Tax Scale,Weekly Earnings Less Than,Component A Factor,Component B Factor
26,2.0,359.0,0.0000,0.0000
27,2.0,438.0,0.1900,68.3462
28,2.0,548.0,0.2900,112.1942
29,2.0,721.0,0.2100,68.3465
30,2.0,865.0,0.2190,74.8369
31,2.0,991.0,0.3477,186.2119
32,2.0,1144.0,0.3577,186.2119
33,2.0,1213.0,0.3677,186.2119
34,2.0,1282.0,0.3727,186.2119
35,2.0,1286.0,0.3700,182.7504
36,2.0,1363.0,0.3750,182.7504
37,2.0,1445.0,0.3800,182.7504
38,2.0,1531.0,0.3850,182.7504
39,2.0,1623.0,0.3900,182.7504
40,2.0,1721.0,0.3950,182.7504
41,2.0,1824.0,0.4000,182.7504
42,2.0,1933.0,0.4050,182.7504
43,2.0,2049.0,0.4100,182.7504
44,2.0,2172.0,0.4150,182.7504
45,2.0,2303.0,0.4200,182.7504
46,2.0,2307.0,0.4250,182.7504
47,2.0,2441.0,0.4700,286.5965
48,2.0,2587.0,0.4750,286.5965
49,2.0,2743.0,0.4800,286.5965
50,2.0,2907.0,0.4850,286.5965
51,2.0,3461.0,0.4900,286.5965
52,2.0,999999.0,0.5700,563.5196

In [43]:
income = 24000

df_closest = need.iloc[(need['Weekly Earnings Less Than']-income).abs().argsort()[:1]]
# need to find the right column

In [48]:
df_closest
#[0]["Component A Factor"]
need.at(0, "Component A Factor")#.values[0]

TypeError: '_AtIndexer' object is not callable

In [45]:
totalTax = 0
row = 0
while True:
    a = need["Component A Factor"].values[0]
    b = need["Component B Factor"].values[0]

11473.4035