In [6]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/nixotrix/.local/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/nixotrix/.local/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [7]:
import pandas as pd

In [8]:
df = pd.read_excel(r"taxTables/2022.xlsx")

In [12]:
df

   income   rate  tax payable
0   18200  0.000            0
1   18201  0.190            0
2   45001  0.325         5092
3  120001  0.370        29467
4  180001  0.450        51667

In [37]:
income = 65000

   income   rate  tax payable
2   45001  0.325         5092
1   18201  0.190            0

In [38]:
x = df.iloc[(df['income']-income).abs().argsort()[:2]]
taxPayable = 0
if x.iloc[0][0] > income:
    base = x.iloc[1][2]
    rate = x.iloc[1][1]
    threshold = x.iloc[1][0]
    print(base + ((income - threshold) * rate))
else:
    base = x.iloc[0][2]
    rate = x.iloc[0][1]
    threshold = x.iloc[0][0]
    print(base + ((income - threshold) * rate))

11591.675

In [39]:
print("Your tax payble is: ${:,.2f}".format(85999))

Your tax payble is: $85,999.00